@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Poppins&family=Monoton&family=DM+Sans&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.nav-icon{
    padding: 5px;
    font-size: 20px;
}
.nav-button{
    border-style : solid;
    border-width : 0px; 
}
.page-1{
    background: linear-gradient(180deg, #FFF6FB 0%, #E7F6FC 33.33%, rgba(213, 224, 255, 0) 100%);
    padding: 15px;
}
.heading-1{
    font-family: 'Reptile';
    font-style: normal;
    font-weight: 500;
    font-size: 33px;
    padding-bottom: 20px;
    color: #1B1B50;
}
.page-1-para-1{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    padding-bottom : 15px;
    text-align: center;
    color: #1B1B50;
}
.para-2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 179%;
    padding-bottom : 8px;
    color: #000000;
}
.hoz-line{
    border: 1px solid #000000;
    background-color : black;
}
.heading-2{
    padding-top: 15px;
    padding-bottom : 25px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    color: #1B1B50;
}
.page-1-para-3{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 179%;
    padding-top: 5px;
    padding-bottom : 10px;
    text-align: center;
    color: #1B1B50;
}
.icon{
    font-size: 70px;
    text-align: center;
    padding: 10px;
    color: #A5A6F6;
}
.page-1-para-4{
   font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 179%;
    text-align: center;
    color: #1B1B50;
}
.page-2{
    background: linear-gradient(165.41deg, #D99EC9 0%, rgba(246, 240, 196, 0) 100%);
    padding: 15px;
}
.list-container{
    padding-left: 30px;
}
.page-3{
    padding: 15px;
    background: #DCE9E9;
}
.para-2-color{
    color: rgba(0, 0, 0, 0.8);
}
.page-4{
    padding: 15px;
    background: linear-gradient(180deg, #DCE9E9 11.21%,#E5E7E8 42.17%);
}
.button-shape{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 45px;
    width: 315px;
    height: 66px;
    border-style : solid;
    border-width: 0px;
    border-radius: 70px;
}
.button-1{
    background: linear-gradient(297.28deg, #F66E6E 67.01%, rgba(246, 110, 110, 0) 123.71%);
    filter: drop-shadow(0px 2px 6px rgba(255, 22, 64, 0.33));
}
.button-heading{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
text-align: center;
color: #FFFFFF;
}
.para-5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    padding-top: 15px;
    padding-bottom : 15px;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
}
.page-4-image{
    width: 100%;
}
.page-5{
    padding: 15px;
    background: linear-gradient(180deg, #FFF6FB 0%, #FFFFFF 100%);
}
.heading-1-black-color{
    color : #000000;;
}
.heading-1-white-color{
    color: rgba(255, 255, 255, 0.8);
}
.button-2{
    background: linear-gradient(288.62deg, #6E8CF6 42.36%, rgba(110, 213, 246, 0.93) 115.74%);
    box-shadow: 0px 2px 16px rgba(71, 222, 255, 0.33);
}
.page-6{
    padding: 15px;
    background: white;
}
.page-6-image{
    width: 45%;
}
.page-7{
    padding: 15px;
    background: linear-gradient(176.88deg, #faa5aa 2.58%, #fdc2bc 93.07%);
}
.page-8{
    padding: 15px;
    background: linear-gradient(270deg, #c0c3c7 0.25%, #dfdcdb 24.33%, #e5e4e5 52.08%, #e4e4e5 100%);
}
.page-9{
    padding: 15px;
    background: #e74975;
}
.para-2-color-white{
    color: rgba(255, 255, 255, 0.8);
}
.button-shape-2{
    width: 287px;
    height: 43px;
    background: #000000;
    border-radius: 27px;
    border-style : solid;
    border-width: 0px;
}
.button-heading-2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
}
.page-10{
    padding-top: 80px;
    padding-right : 40px;
    padding-left : 40px;
    padding-bottom : 70px;
    background: linear-gradient(180deg, #FFF6FB 0%, #E7F6FC 100%);
}
.page-11{
    padding: 15px;
    background: #050506;
}
.footer-ul{
    list-style-type: none;
    padding: 0;
}
.footer-list-para{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}
.hoz-line-2{
    border: 1px solid #E3F4FF;
    background-color : #E3F4FF;
}
.fac-twit{
    color : #E9F4FF;
    font-size: 20px;
    padding: 5px;
}
.footer-para{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 8.94737px;
    line-height: 206.5%;
    color: #FFFFFF;
}
.footer-search{
    width: 70%;
    height: 30px;
    background: rgba(255, 255, 255, 0.62);
    border: 1px solid #E7F6FC;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    padding: 10px;
}
.button-shape-3{
    width: 85px;
    height: 27.48px;
    left: 262px;
    top: 6992px;
    background: #D6F4FB;
    border: 1.2782px solid #E9F4FF;
    box-sizing: border-box;
    border-radius: 17.2556px;
}
.button-heading-3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 8.94737px;
    line-height: 206.5%;
    color: #1B1B50;
}
::placeholder {
  color: black;
  opacity: 1;
}
.mail{
    font-size : 9px;
    padding-right : 5px;
}